#container {
  position: fixed;
  opacity: 1;
  filter: saturate(0.5) hue-rotate(220deg) blur(0px);
  transform: scale(1);
  animation: fadeInBlur;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
    background: linear-gradient(180deg, rgba(2,1,7,1) 0%, rgba(56, 56, 56, 0.419) 100%);

}

@keyframes fadeInBlur {
  from {
    opacity: 0;
    filter: saturate(0.0) hue-rotate(220deg) blur(30px);
    transform: scale(1);
  }
}

.ready {
  filter: saturate(0.50) hue-rotate(220deg) blur(0px);
  transform: scale(1);
}

body {
  background: rgb(2,1,7);
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-shadow: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.show {
  z-index: 100;
  position: fixed;
  left: 25px;
  bottom: 25px;
  width: 100px;
  height: 100px;
  background-color: orange;
  display: none;
}


/* VLADISLAV.IN */
.box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index:2;
  color: white;
}
.button {
  background: transparent;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 7px;
}

.button:hover{
  cursor: pointer;
}
.inline-block{
  display: inline-block;
}
.button > a {
  text-decoration: none;
  color: white;
}
.box h1{
  font-size: 35px;
}
a.animated-button.thar-one {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid white;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-one:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
}
a.animated-button.thar-one:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
a.animated-button.thar-one:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: white;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.nav-menu{
  display:flex;
  flex-direction:row;
  top:40%;
  width:fit-content;
  width:-moz-fit-content;
}
.brand{
  top:30%;
}
.footer-social{
  bottom: 10%;
}
.footer-social a > img {
  filter: invert(1);
}
.footer-social a {
  margin-right: 20px;
}

.vin-modal-container{
  position: absolute;
  top:0;
  left:0;
  z-index: 999;
  width: 100%;
  height: 100%;
  align-items: center;
  display: none;
}
.d-flex{
  display: flex!important;
}
.d-block{
  display: block!important;
}
.d-none{
  display: none!important;
}
.vin-modal{
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  margin: 0 auto;
  width: 30rem;
  min-height: 200px;
  padding: 30px;
  border: 3px solid white;
}
.vin-modal-header{
  display:flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 3px dotted white;
}
.vin-modal-title, .vin-modal-close{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.vin-modal-close{
  cursor: pointer;
}
.vin-modal-body{
  color: white;
  font-size: 18px;
  padding-top: 20px;
}

@media (max-width: 768px)
{
  .nav-menu{
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
    top:10%;
  }
  .brand{
    top:0;
  }
}